.Home-detail {
  background-color: #317c74;

}

.head-wrap {
  width: 100%;
  padding: 0 19px 0 57px;
}

.card-wraper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  justify-content: center;
}
.card-img {
  height: 30%;
}
.card-head {
  height: 50%;
}

@media (min-width: 768px) {
  .head-wrap {
    padding: 0;
    margin-top: 35px;
}
  .video-wrap {
    padding: 0px !important;
  }
}
.head-wrap h3 {
  font-family: Inter, sans-serif;
  font-size: 29.5px;
  font-weight: 300;
  text-align: left;
  color: white;
}

.video-wrap {
  width: 100%;
  height: 100%;
  padding: 0px 21px 0px 60px;
}
.video-wrap video {
  width: 100%;
  height: 100%;
}
.about-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (max-width: 769px) {
  .about-img-wrap {
    display: none;
  }
  .head-wrap {
    padding: 0px;
  }
  .video-wrap {
    padding: 0px;
  }
}
.about-img-wrap img {
  width: 1376px;
  height: 768px;
}

/* Blogs component */

@media (min-width: 1400px) {
  .card-list ul li {
    font-size: 18px !important;
    font-family: Inter, sans-serif;
  }
}
.footer__bottom {
  background-color: #317c74;
}
.wrap {
  margin-top: 20px;
}
.card {
  height: 32em !important;
  width: 20em !important;
  border-radius: 20px !important;
  background-color: #317c74 !important;
  margin-top: 20px;
}
@media (min-width: 920px) and (max-width: 1025px) {
  .card {
    width: 17em !important ;
  }
  .email-info h4 {
    font-size: 18px !important;
  }
  .email-info p {
    font-size: 16px;
  }
  .img-section {
    height: 400px;
    margin-top: 122px;
}
  .video-details {
    height: 509px !important;
    gap: 0px !important;
    /* margin-top: 5%; */
    display: flex !important ;
    flex-direction: column !important;
    margin-top: 6% !important;
    margin-bottom: 6% !important;
}
.bottommark-3::before {
  content: "";
  position: absolute !important;
  top: 544% !important;
  left: 42% !important;
  right: 0% !important;
  width: 100% !important;
  height: 209% !important;
  transform: translateX(-51%) translateY(134%) rotate(180deg) !important;
                                                                                    background-image: url(./../../../Assets/AboutImages/watermark.png) !important;
  background-repeat: no-repeat !important;
}
}
@media (min-width: 769px) and (max-width: 920px) {
  .card {
    width: 14em !important;
    height: 33em !important;
  }
  .card-list ul {
    padding: 0px 44px 0px 5px !important;
  }
  .email-info h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-details {
    height: 100% !important;
    gap: 0px !important;
    width: 100%;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    display: flex !important;
    flex-direction: column !important;
}
  .email-info h4 {
    font-size: 16px !important;
    font-family: Inter, sans-serif;
  }
  .email-icon i {
    font-size: 32px;
  }
  .email-info {
    margin-top: 15px !important;
  }
  
  .col-md-4 {
    align-items: center;
    width: 100% !important;
    display: flex;
    flex: 0 0 auto !important;
    justify-content: center;
  }  
  .button-about-1 {
    font-size: 12px !important;
  }
  .contact-head h4 {
    font-size: 23px !important;
  }
  .email-info p {
    font-size: 15px !important;
  }
}
@media (min-width: 768px) {
  .card-list ul {
    padding: 0px 4px 0px 5px !important;
  }
  .card-head h6 {
    font-size: 30px !important ;
  }
  .card-list ul li {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .card {
    height: 32em !important;
    width: 20em !important;
  }
  .bottommark-2 {
    position: absolute;
    bottom: 0;
    width: 88%;
    height: 50%;
  }
  .bottommark-2::before {
    content: "";
    position: relative;
    top: 46%;
    display: block;
    left: 103.5%;
    width: 24%;
    height: 209%;
    transform: translateX(-58%) translateY(131%) rotate(360deg);
    background-image: url(./../../../Assets/AboutImages/watermark.png);
    background-repeat: no-repeat;
}
}
.librarycontent- {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.libraryspan {
  height: 300px;
  background-color: #317c74;
}
.library-head h4 {
  font-size: 31.8px;
  color: #fff;
}
.card-content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0px;
  flex-direction: column;
}
@media (max-width: 375px) {
  .card {
    height: 27em !important;
    width: 15em !important;
}
.video-details {
  height: 350px !important;
  gap: 0px !important;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}
  .card-img {
    height: 25%;
    display: flex;
    justify-content: center;
  }
  .card-head h6 {
    font-size: 17px !important;
}

  .card-para p {
    font-size: 13px !important;
  }
  .card-list ul li {
    font-size: 14px;
  }
  .emails i {
    font-size: 25px;
  }
  .contact {
    padding-top: 0rem !important;
    padding-bottom: 2rem;
    background-color: #fff;
    margin-top: 4rem;
  }
  .cardBtn{
    width: 100% !important;
    height: 100% !important;
  }
  .cardBtn span{
    height: 38px !important;
    width: 172px !important;
  }
}
.card-head h6 {
  font-size: 30px;
  font-weight: 800;
  font-family: Inter, sans-serif;
  color: #fff;
}
.card-para {
  left: 0;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
.card-wrap {
  display: flex;
  gap: 0px;

  position: relative;
}

@media (max-width: 760px) {
  .card-wrap {
    flex-direction: column;
  }
}

.card-para p {
  color: #d9d9d9;
  position: relative;
  left: 0;
}
.card-list {
  color: #d9d9d9;
  text-align: left;
  list-style: inherit;
}

.card-list ul li {
  list-style: unset;
}
.card-list ul {
  margin-left: 30px;
  padding: 0px 76px 0px 15px;
}

.cardBtn span {
  width: 123px;
  /* display: flex; */
  /* text-align: center; */
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  text-align: center;
  height: 48px;
  background-color: #fff;
  font-size: 18.5px;
  border-radius: 50px;
}

.cardBtn {
  /* background-color: #fff; */
  /* font-size: 18.5px; */
  height: 100%;
  /* margin-top: 2rem; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  /* border-radius: 50px; */
}
.cardBtn span {
  width: 123px;
  /* display: flex; */
  /* text-align: center; */
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  display: flex;
  height: 100%;
  width: 200px;
  text-align: center;
  height: 48px;
  background-color: #fff;
  font-size: 18.5px;
  border-radius: 50px;
}

/* library span */
.library-para {
  display: flex;
  width: 100%;
  justify-content: center;
}
.library-para p {
  color: #fff;
  font-size: 21.7px;
}

/* contact */
.contact {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #fff;
  margin-top: 4rem;
}

.contact-head {
  text-align: left;
}
.contact-img-wrap {
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.contact-img-wrap img {
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  .contact-img-wrap img {
    width: 100px;
    height: 100px;
  }
  .contact-info {
    margin-top: 22px;
  }
  .emails i {
    font-size: 25px !important;
  }
}

.contact-head h4 {
  font-size: 30px;
  font-family: Inter, sans-serif;
  color: #317c74;
}
.emails {
  text-align: left;
  display: flex;
  height: 100%;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100;
}
.emails i {
  font-size: 45px;
  color: #317c74;
}

.email-info {
  margin-top: 20px;
  text-align: left;
  color: #317c74;
}
form button {
  outline: none;
  border: none;
  background: none;
  width: 92px;
  height: 39px;
  border-radius: 50px;
  background: #317c74;
  color: #fff;
}
.video-details {
  height: 510px;
  gap: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}
.subform {
  display: flex;
  gap: 20px;
}
.subscribeForm {
  width: 60% !important;
}
.email-info p {
  font-size: 18.6px;
  color: #317c74;
}
.email-info h4 {
  font-size: 24.3px;
  color: #317c74;
}

.Blogs-home {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: transparent;
  max-width: 1300px;
  margin: auto;
}
.library-btn {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.bottommark-2 {
  position: absolute;
  bottom: 0;
  width: 88%;
  height: 50%;
}
.bottommark-2::before {
  content: "";
  position: relative;
  top: 46%;
  display: block;
  left: 103.5%;
  width: 24%;
  height: 209%;
  transform: translateX(-58%) translateY(99%) rotate(360deg);
  background-image: url(./../../../Assets/AboutImages/watermark.png);
  background-repeat: no-repeat;
}
.bottommark-3{
  position: absolute;
  bottom: 0;
  width: 88%;
  height: 50%;
}

  .bottommark-3::before {
    content: "";
    position: relative;
    /* top: 100%; */
    left: 1%;
    display: block;
    right: 0%;
    width: 100%;
    height: 150%;
    transform: translateX(-58%) translateY(451%) rotate(180deg);
    background-image: url(./../../../../src/Assets/AboutImages/watermark.png);
    background-repeat: no-repeat;
}

@media (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  /* Styles for iPhone 6/7/8 */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(171%) rotate(147deg) !important;
}

}
@media (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  /* Styles for iPhone 6/7/8 Plus */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(171%) rotate(147deg);
}
}
@media (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* Styles for iPhone X/XS/11 Pro */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(160%) rotate(147deg);
}
}
@media (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  /* Styles for iPhone XR/11 */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(90%) rotate(147deg) !important;
}
}
@media (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  /* Styles for iPhone XR/11 */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(90%) rotate(147deg);
}
}
@media (device-width: 411px) and (device-height: 731px) and (-webkit-device-pixel-ratio: 2.625) {
  /* Styles for Google Pixel 2 */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(90%) rotate(147deg);
}
}
@media (device-width: 411px) and (device-height: 731px) and (-webkit-device-pixel-ratio: 2.625) {
  /* Styles for Google Pixel 2 */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(90%) rotate(147deg);
}
}
@media (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 4) {
  /* Styles for Samsung Galaxy S9/S9+/S8/S8+ */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(130%) rotate(147deg) !important;
}
}

@media (device-width: 412px) and (device-height: 915px)  {
  /* Styles for Samsung Galaxy S9/S9+/S8/S8+ */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(83%) rotate(147deg) !important;
}
}
@media (device-width: 360px) and (device-height: 640px)  {
  /* Styles for Samsung Galaxy S9/S9+/S8/S8+ */
  .bottommark-3::before {
    transform: translateX(-70%) translateY(187%) rotate(147deg) !important;
}
}

@media (device-width: 820px) and (device-height: 1180px)  {
  /* Styles for Samsung Galaxy ipad air */

.bottommark-2::before{
  transform: translateX(-74%) translateY(-3%) rotate(180deg);
  top: 0px;
}

}
@media (device-width: 1440px) and (device-height: 566px)  {
  /* Styles for Samsung Galaxy ipad air */

.bottommark-3::before{
  transform: translateX(-29%) translateY(486%) rotate(360deg) !important;
}
}
@media (device-width: 1368px) and (device-height: 912px){
   .bottommark-3::before{
  height: 184%;
  transform: translateX(-74%) translateY(-3%) rotate(180deg);
  top: 0px;
  }
  .bottommark-2::before{
    height: 100%;

  }

}