.AboutPage {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #317C74;
    width: 100%;
    overflow: hidden;
}
.headwrapabout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.headwrapabout h1{
    font-size: 50px;
    font-family: Inter,sans-serif;
    font-weight: 800;
    color: #fff;

}
.img-wrap img{
    width: 80%;
    height: 250px;
}
.owner1{
    width: 80%;
    height: auto;  
}
.all-image-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
}
@media(min-width:320px) and (max-width:768px){
    .img-wrap{
        width: 100%;
    }
    .both-btn{
        margin-left: 0px !important;

        
        }
        .button-wrap{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            gap: 0em !important;
        }
        .button-about-1 {
            width: 200px;
            height: 60px;
            font-size: 12px !important;
            padding: 10px;
        }
        .para-wrap-about p {
            font-size: 20px;
            line-height: 30px !important;
            color: white;
            text-align: left;
            font-family: Inter,sans-serif;
        }
        .owner1{
            width: 100%;
            height: auto;  
        }
        .img-wrap img {
            width: 100%;
            height: 250px;
        }
}
@media(min-width:768px){
    .img-wrap{
        width: 100%;
    }

}
.img-wrap {
    display: flex;
    width: 100%;
    margin: 5px auto;
}

.main-about{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #317C74;
    display: flex;
    width: 100%;
    height: 100%;
}
.owner-image-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.para-wrap-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.para-wrap-about p {
    font-size: 20px;
    line-height: 46px;
    color: white;
    text-align: left;
    font-family: Inter,sans-serif;
}
@media(max-width:768px){
   .owner-image-wrap{
    flex-direction: row;
   }
 
}
@media((min-width:756px)and (max-width:1024px)){
    .para-wrap-about p {
        font-size: 16px;
        line-height: 31px;
    }
 
}

@media(max-width:768px){
    .para-wrap-about p{
        font-size: 14px;
    }
}
@media(min-width:756px){
    .para-wrap-about{
        margin-top: 10px;
    }

}
.button-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 4em;
}
.button-about-1{
    width: 200px;
    height: 60px;
    font-size: 17px;

}
.both-btn{
margin-left: 5rem;
}
.button-about-1 button{
 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: beige;
    color: #317C74;
    display: flex;
    
    
}